<div class="row">
	<div class="offset-md-3 col-md-6 text-center">
		<div id="message" class="invisible">
			<span id="messageText"></span><span class="fa fa-times close" onclick="removeAlert()"></span>
		</div>
		<h2>Hello {{user.email}}!</h2>
		<div class="row">
			<div class="offset-md-2 col-md-4">
				<button class="btn btn-primary" data-toggle="collapse" data-target="#changeEmail" aria-controls="changeEmail" aria-expanded="false" aria-label="Change email">Change Email</button>
				<div class="collapse my-sm-3" id="changeEmail">
					<form>
						<div class="form-group">
							<label class="form-label" for="email">New Email</label>
							<input class="form-control" id="email" name="email" type="email" placeholder="new@email.com"/>
						</div>
	  					<input type="hidden" name="_csrf" value="{{csrfToken}}" />
						<input class="btn btn-success" type="button" value="Update Email" onclick="updateEmail()"/>
					</form>
				</div>
			</div>
			<div class="col-md-4">
				<button class="btn btn-primary" data-toggle="collapse" data-target="#changePassword" aria-controls="changePassword" aria-expanded="false" aria-label="Change password">Change Password</button>
				<div class="collapse my-sm-3" id="changePassword">
					<form>
						<div class="form-group">
							<label class="form-label" for="currentPassword">Current Password</label>
							<input class="form-control" id="currentPassword" name="currentPassword" type="password"/>
						</div>
						<div class="form-group">
							<label class="form-label" for="newPassword">New Password</label>
							<input class="form-control" id="newPassword" name="newPassword" type="password"/>
						</div>
						<div class="form-group">
							<label class="form-label" for="retypePassword">Retype New Password</label>
							<input class="form-control" id="retypePassword" name="retypePassword" type="password"/>
						</div>
	  					<input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}" />
						<input class="btn btn-success" type="button" value="Update Password" onclick="updatePassword()"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/javascripts/helpers/alertHandler.js"></script>
<script type="text/javascript" src="/javascripts/users/profile.js"></script>