<h1 class="text-center">Sign Up</h1>
<div class="row">
	<div class="offset-md-5 col-md-2">
		<form method="POST">
			<div class="form-group">
				<label class="form-label" for="email">Email</label>
				<input class="form-control" id="email" name="email" type="email" placeholder="user@domain.com" autofocus/>
			</div>
			<div class="form-group">
				<label class="form-label" for="password">Password</label>
				<input class="form-control" id="password" name="password" type="password"/>
			</div>
			<div class="form-group">
				<label class="form-label" for="retypePassword">Retype Password</label>
				<input class="form-control" id="retypePassword" name="retypePassword" type="password"/>
			</div>
			<input class="btn btn-success" type="submit" value="Sign Up"/>
	  		<input type="hidden" name="_csrf" value="{{csrfToken}}" />
		</form>
	</div>
</div>