<h1>Current Occasion</h1>
<div id="message" class="invisible"><span id="messageText"></span><span class="fa fa-times close" onclick="removeAlert()"></span></div>
<div class="row">
  <div class="col-md-10">
    <form class="form-inline" onsubmit="return update()">
  <div class="form-group mx-sm-3">
    <label class="form-label mx-sm-3" for="name">Name</label>
    <input class="form-control" id="name" name="name" type="text" value="{{occasion.name}}" autofocus {{^occasion.owns}}readonly{{/occasion.owns}}/>
  </div>
  <div class="form-group mx-sm-3">
    <label class="form-label mx-sm-3" for="occurrence">Occurrence</label>
    <input class="form-control date" id="occurrence" name="occurrence" type="date" value="{{occasion.occurrence}}" {{^occasion.owns}}readonly{{/occasion.owns}}/>
  </div>
  {{#occasion.owns}}
  <input class="btn btn-success mx-sm-3" type="submit" value="Update"/>
  <input class="btn btn-primary" type="button" data-toggle="modal" data-target="#shareModal" value="Share"/>  
  <input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}" />
  {{/occasion.owns}}
</form>
  </div>
  {{#occasion.owns}}
  <div class="col-md-2">
    <input class="btn btn-danger mx-sm-3" type="button" value="Delete" onclick="return doDelete()"/>
  </div>
  {{/occasion.owns}}
</div>
<br/>
{{>wishlists}}

<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel">Tell people about {{occasion.name}}!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline" onsubmit="return addRecipient()">
          <div class="form-group">
            <label class="form-label mx-sm-3" for="email">Recipient</label>
            <input class="form-control" id="email" name="email" type="email" placeholder="recipient@email.com"/>
          </div>
          <input class="btn btn-success mx-sm-3" type="submit" value="Add"/>
        </form>
        <hr/>
        <em>Recipients</em>
        <div id='recipientList'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="ok()">Send</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/occasions/details.js"></script>
<script type="text/javascript" src="/javascripts/helpers/alertHandler.js"></script>