<!doctype html>
<html>
	<head>
		<title>Occasion - Wishlists</title>
	</head>
	<body>
	    <h1>Current Occasion</h1>
	    <form onsubmit="return false">
	      <div>
	        <label for="name">Name your occasion</label>
	        <input id="name" name="name" type="text" value="{{occasion.name}}" />
	      </div>
	      <div>
	      	<label for="occurrence">When does your occasion take place?</label>
	      	<input id="occurrence" name="occurrence" type="date" value="{{occasion.occurrence}}" />
	      </div>
	      <button type="button" onclick="update('{{occasion._id}}')">Submit</button>
	      <input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}" />
	    </form>
	    <p id="message"></p>
	</body>
	<script type="text/javascript" src="../../javascripts/occasions/details.js"></script>
</html>