<!doctype html>
<html>
	<head>
		<title>New Occasion - Wishlists</title>
	</head>
	<body>
	    <h1>New Occasion</h1>
	    <form action="/occasions/new" method="POST">
	      <div>
	        <label for="name">Name your occasion</label>
	        <input id="name" name="name" type="text" />
	      </div>
	      <div>
	      	<label for="occurrence">When does your occasion take place?</label>
	      	<input id="occurrence" name="occurrence" type="date" />
	      </div>
	      <input type="submit" value="Submit" />
	      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
	    </form>
	</body>
</html>