<h1>New Wishlist Item</h1>
<p id="message"></p>
<form class="form-inline" method="POST">
  <div class="form-group mx-sm-3">
    <label class="form-label mx-sm-3" for="name">Name</label>
    <input class="form-control" id="name" name="name" type="text" placeholder="ex: My Item" />
  </div>
  <div class="form-group mx-sm-3">
  	<label class="form-label mx-sm-3" for="comments">Comments</label>
  	<input class="form-control" id="comments" name="comments" type="text" placeholder="The blue one">
  </div>
  <div class="form-group mx-sm-3">
  	<label class="form-label mx-sm-3" for="link">Link</label>
  	<input class="form-control" id="link" name="link" type="text" placeholder="https://link.com">
  </div>
  <input class="btn btn-success mx-sm-3" type="submit" value="Create" />
  <input class="btn btn-danger" type="button" value="Cancel" onclick="return cancel('{{occasionId}}', '{{wishlistId}}')" />
  <input type="hidden" name="_csrf" value="{{csrfToken}}" />
</form>

<script type="text/javascript" src="/javascripts/items/new.js"></script>