body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.chip {
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}