<h1 class="text-center">Current Wishlist</h1>
<div id="message" class="invisible"><span id="messageText"></span><span class="fa fa-times close" onclick="removeAlert()"></span></div>
<div class="row">
	<div class="offset-md-4 col-md-4">
		<form onsubmit="return update()">
		  <div class="form-group">
		    <label class="form-label" for="name">Name</label>
		    <input class="form-control" id="name" name="name" type="text" value="{{wishlist.name}}" autofocus {{^wishlist.owns}}readonly{{/wishlist.owns}} required/>
		  </div>
		  {{#wishlist.owns}}
		  <input class="btn btn-success" type="submit" value="Update"/>
		  <input class="btn btn-danger" type="button" value="Delete" onclick="return doDelete('{{wishlist.occasion.slug}}')"/>
		  {{/wishlist.owns}}
		  <input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}" />
		</form>
	</div>
</div>
<br/>
{{>items}}
{{#user}}
{{>comments}}
{{/user}}

<script type="text/javascript" src="/javascripts/wishlists/details.js"></script>
<script type="text/javascript" src="/javascripts/helpers/alertHandler.js"></script>
